# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Output ảnh và kết quả
# =========================
output/
*.step_*.jpg
*.step_*.png

# File kết quả
results.txt



# =========================
# Temporary files
# =========================
*.tmp
*.bak
*.swp


# =========================
# Cache khác
# =========================
.cache/